// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
@import "compass/css3/transition";
@import "compass/typography/lists/bullets";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300bold,400bold,400,300);

body {
  background-image: url("../images/main-bg2.png");
  background-repeat: repeat-x;
  background-position: top left;
}

footer {
  margin-bottom: 60px !important;
  li {
    @include no-bullet;
  }
  a {
    color: lighten($txtColor, 40%);
  }
}

.page-title {
  color: #333;
  font-size: 68px;
  margin: 0px;
  padding: 25px 0px 40px 0px;
  @include single-text-shadow(0px, -1px, 0px, false, rgba(0, 0, 0, .5));
  font-weight: 300;
  
  &.with-subheader {
    padding: 25px 0px 0px 0px;
  }
  
  & + .subheader {
    padding: 0px 0px 40px 0px;
  }
}

h3 {
  font-size: 30px;
  font-weight: 300;
}

h2, h4, h5 {
  font-weight: 300;
}

.subheader {
  font-family: $bodyFontFamily;
}

.error {
  color: $alertColor;
  font-weight: bold;
}

.successful {
  color: $successColor;
  font-weight: bold;
}

.padding-top-like-header {
  padding-top: 14px;
}

.main-logo {
  max-height: 66px;
  margin-top: 10px;
}

#newsletter-box {
  margin-top: 15px;
  
  .saving {
    background-image: url("../images/6-1.gif");
    background-position: 99% 50%;
    background-repeat: no-repeat;
    @include transition-duration(0s);
  }
}

img.drop-shadow {
  @include box-shadow(lighten($black, 40%) 2px 2px 10px);
}

a img {
  border: none;
}

.faq-page h4 {
  padding-top: 15px;
}

.blog-page h2 a {
  color: $headerFontColor;
  &:hover {
    text-decoration: underline;
  }
}

.blog-post {
  padding-bottom: 15px;
  
  ul {
    padding-left: 1.5em;
  }
}

#welcome-banner {
  margin-top: 30px;
  margin-bottom: 40px;
  
  .right {
    text-align: right;
  }
}

#welcome-banner-image {
  max-width: 360px;
  margin-top: 10px;
}

#welcome-banner-left {
  margin-top: 5px;
  
  .welcome-banner-logo-letter {
    float: left;
    padding-right: 10px;
  }
  
  .welcome-banner-spamihilator {
    font-size: 510%;
    font-weight: normal;
    color: #444;
    padding-top: 5px;
  }
}

#welcome-banner-slogan {
  font-size: 165%;
  color: #777;
  display: block;
  margin: -14px 0px 0px 160px;
  
  span {
    width: 100%;
    display: block;
    &.first {
      /*padding-left: 60px;*/
    }
    &.second {
      padding-left: 20px;
    }
    &.third {
      padding-left: 60px;
    }
  }
}

#welcome-banner-download {
  margin: 60px 0px 40px 0px;
}

#welcome-banner-download-button {
  padding: 10px 12px;
  font-size: 130%;
  font-weight: normal;
  line-height: 24px;
  height: 47px;
  margin-right: 10px;
  margin-bottom: 10px;

  
  img {
    float: left;
    margin-right: 6px;
  }
}

#welcome-banner-download-notes {
  line-height: 1.4em;
  padding-top: 3px;
  li {
    @include no-bullet;
    &:first-child {
      font-size: 110%;
      font-weight: bold;
    }
  }
}

#welcome-news {
  li {
    @include no-bullet;
  }
}

.index-page .google-ads1 {
  margin-top: 12px;
}

.download-page .google-ads1 {
  margin-top: 40px;
}

.welcome-features {
  img {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
  }
}

.vcard {
  margin-bottom: 26px;
}

$button-color: #ffaa22;
$nav-bar-background: #ffaa22;
$nav-bar-border-radius: 10px;

.button {
  background-color: $button-color;
  border: 1px solid darken(($button-color), 15%);
  &:hover {
    background-color: lighten(($button-color), 10%);
  }
}

.nav-bar {
  background: none;
  margin-top: 0px;
  li {
    background-color: $nav-bar-background;
    border: none;
    line-height: 40px;
    @include transition-property(background-color);
    @include transition-duration(0.15s);
    @include transition-timing-function(ease-in-out);
    a {
      color: $white;
    }
    &:last-child {
      border: none;
      @include border-bottom-right-radius($nav-bar-border-radius);
    }
    &:first-child {
      @include border-bottom-left-radius($nav-bar-border-radius);
    }
    &:hover {
      background-color: lighten($nav-bar-background, 10%);
    }
  }
}

.optional {
  color: lighten($txtColor, 40%);
}

.alert-box.alert a {
  color: lighten($mainColor, 35%);
}

.bigdownloadlink, .bigdl .downloadlink {
  padding-left: 44px;
  background-image: url("../images/spamihilatoricon_mid.png");
  background-position: left 10px;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.downloadlinklink {
  font-size: 240%;
}

ul.other-downloads {
  padding-left: 44px;
  margin-top: -20px;
  padding-top: 0;
  padding-bottom: 15px;
  
  display: none;
  
  li {
    margin-left: 10px;
    padding-left: 10px;
    list-style-type: none;
    float: left;
    border-left: 1px solid #333;
    line-height: 1em;
    
    &.first {
      border: 0px;
      padding-left: 0px;
    }
  }
}

.download-social-links {
  padding-left: 54px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.google-plus-link {
  padding-left: 54px;
  margin-top: 0px;
}

.downloadsection {
  padding-bottom: 20px;
}
