<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="eight columns">
        <p>Copyright &copy; 2002-{{ "now" | date: "%Y" }} <a href="{{ site.url }}/{{ page.lang }}/{% if page.lang == 'de' %}impressum{% else %}about{% endif %}">Michel Krämer</a>.
        {% if page.lang == 'de' %}Alle Rechte vorbehalten.{% else %}All rights reserved.{% endif %}</p>
        <p><a href="{{ site.url }}/{% lang_url_german %}">Deutsch</a> | <a href="{{ site.url }}/{% lang_url_english %}">English</a></p>
      </div>
      <div class="two columns">
        <ul>
          <li><a href="http://wiki.spamihilator.com">{% if page.lang == 'de' %}Online-Hilfe{% else %}Online Help{% endif %}</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/faq">FAQ</a></li>
          <li><a href="{{ site.url }}/forum">{% if page.lang == 'de' %}Support-Forum{% else %}Support{% endif %}</a></li>
        </ul>
      </div>
      <div class="two columns">
        <ul>
          <li><a href="{{ site.url}}/{{ page.lang }}/">Home</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/download">Download</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/plugins">Plugins/Add-ons</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/support">Support</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/{% if page.lang == 'de' %}impressum{% else %}about{% endif %}">{% if page.lang == 'de' %}Impressum{% else %}About{% endif %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.url }}/scripts/foundation/jquery.js"></script>
<script src="{{ site.url }}/scripts/foundation/app.js"></script>
<script src="{{ site.url }}/scripts/jquery.smooth-scroll.min.js"></script>
<script src="{{ site.url }}/scripts/jquery.ba-bbq.min.js"></script>
<script src="{{ site.url }}/scripts/main.js"></script>

{% check_props %}{% project_honeypot %}{{ additional_footer_elements }}

</body>
</html>
