<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="eight columns">
        <p>Copyright &copy; 2002-2012 <a href="{{ site.url }}/{{ page.lang }}/{% if page.lang == 'de' %}impressum{% else %}about{% endif %}">Michel Krämer</a>.
        {% if page.lang == 'de' %}Alle Rechte vorbehalten.{% else %}All rights reserved.{% endif %}</p>
      </div>
      <div class="two columns">
        <ul>
          <li><a href="http://wiki.spamihilator.com">{% if page.lang == 'de' %}Online-Hilfe{% else %}Online Help{% endif %}</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/faq">FAQ</a></li>
          <li><a href="{{ site.url }}/forum">{% if page.lang == 'de' %}Support-Forum{% else %}Support{% endif %}</a></li>
        </ul>
      </div>
      <div class="two columns">
        <ul>
          <li><a href="{{ site.url}}/{{ page.lang }}/">Home</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/download">Download</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/plugins">Plugins/Add-ons</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/support">Support</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/{% if page.lang == 'de' %}impressum{% else %}about{% endif %}">{% if page.lang == 'de' %}Impressum{% else %}About{% endif %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!--
<script src="scripts/foundation/jquery.js"></script>
<script src="scripts/foundation/jquery.cookie.js"></script>
<script src="scripts/foundation/jquery.event.move.js"></script>
<script src="scripts/foundation/jquery.event.swipe.js"></script>
<script src="scripts/foundation/jquery.foundation.accordion.js"></script>
<script src="scripts/foundation/jquery.foundation.alerts.js"></script>
<script src="scripts/foundation/jquery.foundation.buttons.js"></script>
<script src="scripts/foundation/jquery.foundation.clearing.js"></script>
<script src="scripts/foundation/jquery.foundation.forms.js"></script>
<script src="scripts/foundation/jquery.foundation.joyride.js"></script>
<script src="scripts/foundation/jquery.foundation.magellan.js"></script>
<script src="scripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>
<script src="scripts/foundation/jquery.foundation.navigation.js"></script>
<script src="scripts/foundation/jquery.foundation.orbit.js"></script>
<script src="scripts/foundation/jquery.foundation.reveal.js"></script>
<script src="scripts/foundation/jquery.foundation.tabs.js"></script>
<script src="scripts/foundation/jquery.foundation.tooltips.js"></script>
<script src="scripts/foundation/jquery.foundation.topbar.js"></script>
<script src="scripts/foundation/jquery.placeholder.js"></script>
<script src="scripts/foundation/app.js"></script>
-->

</body>
</html>