<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="eight columns">
        <p>Copyright &copy; 2002-{{ "now" | date: "%Y" }} <a href="{{ site.url }}/{{ page.lang }}/{% if page.lang == 'de' %}impressum{% else %}about{% endif %}">Michel Krämer</a>.
        {% if page.lang == 'de' %}Alle Rechte vorbehalten.{% else %}All rights reserved.{% endif %}</p>
        <p><a href="{{ site.url }}/{% lang_url_german %}">Deutsch</a> | <a href="{{ site.url }}/{% lang_url_english %}">English</a></p>
      </div>
      <div class="two columns">
        <ul>
          <li><a href="http://wiki.spamihilator.com">{% if page.lang == 'de' %}Online-Hilfe{% else %}Online Help{% endif %}</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/faq">FAQ</a></li>
          <li><a href="{{ site.url }}/forum">{% if page.lang == 'de' %}Support-Forum{% else %}Support{% endif %}</a></li>
        </ul>
      </div>
      <div class="two columns">
        <ul>
          <li><a href="{{ site.url}}/{{ page.lang }}/">Home</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/download">Download</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/plugins">Plugins/Add-ons</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/support">Support</a></li>
          <li><a href="{{ site.url }}/{{ page.lang }}/{% if page.lang == 'de' %}impressum{% else %}about{% endif %}">{% if page.lang == 'de' %}Impressum{% else %}About{% endif %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{{ site.url }}/scripts/foundation/app.js"></script>
{% if page.hasTabs == true %}
<script src="{{ site.url }}/scripts/foundation/jquery.foundation.forms.js"></script>
<script src="{{ site.url }}/scripts/foundation/jquery.foundation.tabs.js"></script>
{% endif %}
<script src="{{ site.url }}/scripts/jquery.smooth-scroll.min.js"></script>
<script src="{{ site.url }}/scripts/jquery.ba-bbq.min.js"></script>
<script src="{{ site.url }}/scripts/main.js"></script>

<div id="language-switcher-popup">
{% if page.lang == "de" %}
<a href="{{ site.url }}/{% lang_url_english %}">
<img src="{{ site.url }}/images/flags/gb.png">
<img src="{{ site.url }}/images/flags/us.png">
Switch to english website ...</a>
{% else %}
<a href="{{ site.url }}/{% lang_url_german %}">
<img src="{{ site.url }}/images/flags/de.png">
Zur deutschen Seite wechseln ...</a>
{% endif %}
</div>
<script type="text/javascript" src="{{ site.url }}/scripts/detect-language.php"></script>
<script type="text/javascript">
var detectLanguagePageLang = "{{ page.lang }}";
if ((detectLanguagePageLang == "de" && detectLanguageBrowserLang == "en") ||
    (detectLanguagePageLang == "en" && detectLanguageBrowserLang == "de")) {
  $("#language-switcher-popup").delay(2000).animate({bottom:"5px"},800);
}
</script>

{% if page.hasTabs == true %}
<script type="text/javascript">
$(document).ready(function() {
  $(document).foundationTabs();
});
</script>
{% endif %}

{% check_props %}{{ additional_footer_elements }}

<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://www.spamihilator.com/" : "http://www.spamihilator.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "pwk.php' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "pwk.php", 3);
{% if page.layout == "error404" %}
piwikTracker.setDocumentTitle('404/URL = '+String(document.location.pathname+document.location.search).replace(/\//g,"%2f") + '/From = ' + String(document.referrer).replace(/\//g,"%2f"));
{% endif %}
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://www.spamihilator.com/pwk.php?idsite=3" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

</body>
</html>
