<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="{{ page.lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page.lang }}"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Spamihilator</title>
<link rel="stylesheet" href="{{ site.url }}/css/app.css">
<script src="{{ site.url }}/scripts/foundation/modernizr.foundation.js"></script>
</head>
<body>

<div class="row">
  <div class="four columns">
    <h1><a href="{{ site.url }}/{{ page.lang }}/"><img class="main-logo" src="{{ site.url }}/images/logo.png"></a></h1>
  </div>
  <div class="eight columns">
    <ul class="nav-bar right">
      <li><a href="{{ site.url }}/{{ page.lang }}/download">Download</a></li>
      <li><a href="{{ site.url }}/{{ page.lang }}/plugins">Plugins/Add-ons</a></li>
      <li><a href="{{ site.url }}/{{ page.lang }}/support">Support</a></li>
      <li><a href="{{ site.url }}/{{ page.lang }}/{% if page.lang == 'de' %}impressum{% else %}about{% endif %}">{% if page.lang == 'de' %}Impressum{% else %}About{% endif %}</a></li>
    </ul>
  </div>
</div>
