{% include header.html %}

<section id="mainContent">

<div class="row">
  <div class="twelve columns">
    <h3 class="page-title">{% if page.lang == "de" %}Impressum{% else %}About Spamihilator{% endif %}</h3>
  </div>
</div>

<div class="row">
<div class="eight columns">

<div class="row">
  <div class="three columns padding-top-like-header">
    <img src="{{ site.url }}/images/mkraemer.jpg" class="drop-shadow">
  </div>
  <div class="nine columns">
    <div class="vcard">
      <h4 class="subheader">
      <span class="fn">Michel Krämer</span><br />
      <span class="adr">
        <span class="street-address">Buchenweg 14</span><br />
        <span class="postal-code">35418</span> <span class="locality">Buseck</span>
      </span><br />
      Germany
      </h4>
      <p><a href="mailto:michel@undercouch.de">michel@undercouch.de</a><br />
      <span class="url"><a href="http://www.spamihilator.com">http://www.spamihilator.com</a></span><br />
      <span class="url">
      {% if page.lang == 'de' %}
      <a href="http://www.michel-kraemer.de">http://www.michel-kraemer.de</a>
      {% else %}
      <a href="http://www.michel-kraemer.com">http://www.michel-kraemer.com</a>
      {% endif %}
      </span></p>

      <a href="http://twitter.com/michelkraemer" class="twitter-follow-button" data-show-count="false" data-lang="{{ page.lang }}">{% if page.lang == 'de' %}@michelkraemer folgen{% else %}Follow @michelkraemer{% endif %}</a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    </div>
  </div>
</div>

<div class="row">
  <div class="eight columns">
    <div class="alert-box alert">
    {% if page.lang == 'de' %}
    Es wird kein Support per E-Mail oder Telefon angeboten!
    Bitte benutzen Sie den <a href="{{ site.url }}/de/support">Support-Bereich</a>.
    {% else %}
    There is no support via email or telephone! Please use the
    <a href="{{ site.url }}/en/support">support area</a>.
    {% endif %}
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <hr />
  </div>
</div>

<div class="row">
<div class="twelve columns">
{% render_partial_lang about/disclaimer.md convert %}
</div>
</div>

</div>
<div class="four columns">
{% render_partial_lang about/donate.md convert  %}
</div>
</div>

</section>

{% include footer.html %}
