{% include header.html %}

{% if page.downloadtitle %}
{% assign downloadtitle = page.downloadtitle %}
{% else %}
{% assign downloadtitle = "Spamihilator" %}
{% endif %}

<section id="mainContent">

<div class="row">
<div class="eight columns">

<div class="row">
  <div class="twelve columns">
  
  <h3 class="page-title">{% if page.lang == "de" %}Vielen Dank!{% else %}Thanks a lot!{% endif %}</h3>
  
  <p>
  {% if page.lang == "de" %}
  Danke, dass Sie sich für {{ downloadtitle }} entschieden haben! Ihr Download startet in wenigen
  Sekunden. Falls dies nicht passiert, klicken Sie bitte <a href="{{ site.url }}{{ page.downloadlink }}">hier</a>.
  {% else %}
  Thank you for downloading {{ downloadtitle }}! Your download should automatically begin in a few
  seconds, but if not, <a href="{{ site.url }}{{ page.downloadlink }}">click here</a>.
  {% endif %}
  </p>
  
  </div>
</div>

</div>
<div class="four columns">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Spamihilator 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-1502100978693819"
     data-ad-slot="5286013968"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>

</section>

<script type="text/javascript">
  function startDownload() {
    window.location = "{{ site.url }}{{ page.downloadlink }}";
  }
  setTimeout("startDownload()", 2000);
</script>

{% include footer.html %}
