{% include header.html %}

<section id="mainContent">

<div class="row">
  <div class="twelve columns">
    <h3 class="page-title">Download</h3>
  </div>
</div>

<div class="row">
<div class="eight columns">

  <dl class="tabs contained">
    <dd class="active"><a href="#32bit">{%if page.lang == "de" %}32-Bit{% else %}32-bit{% endif %}</a></dd>
    <dd><a href="#64bit">{%if page.lang == "de" %}64-Bit{% else %}64-bit{% endif %}</a></dd>
    <dd><a href="#portable32bit">{%if page.lang == "de" %}Portabel 32-Bit{% else %}Portable 32-bit{% endif %}</a></dd>
    <dd><a href="#portable64bit">{%if page.lang == "de" %}Portabel 64-Bit{% else %}Portable 64-bit{% endif %}</a></dd>
  </dl>

  <ul class="tabs-content contained">
  <li class="active" id="32bitTab">

  <h3>Spamihilator 1.6</h3>

  <p>
  {% if page.lang == "de" %}
  Bitte klicken Sie auf den folgenden Button, um Spamihilator kostenlos herunterzuladen:
  {% else %}
  Please use the following button to download Spamihilator for free:
  {% endif %}
  </p>

  <div class="downloadsection">
  <a href="{{ site.url }}/{{ page.lang }}/download/spamihilator/1.6/win32" class="radius button left" id="download-button"><img src="{{ site.url }}/images/download-arrow.png"> {% if page.lang == 'de' %}Herunterladen{% else %}Download now{% endif %}</a>
  <ul id="download-notes">
     <li>{% if page.lang == "de" %}5. Dezember 2014{% else %}December 5, 2014{% endif %} |
      {% if page.lang == "de" %}2,45 MB{% else %}2.45 MB{% endif %}</li>
     <li>Windows 2000/2003/XP/Vista/7/8</li>
  </ul>
  </div>

  </li>
  <li id="64bitTab">

  <h3>Spamihilator 1.6 ({% if page.lang == "de" %}64-Bit{% else %}64-bit{% endif %})</h3>

  <p>
  {% if page.lang == "de" %}
  <strong>Hinweis:</strong> Diese Version ist nur für Windows-Systeme mit 64-Bit geeignet. Nicht alle
  Plugins sind mit dieser Version kompatibel. Wenn Sie unsicher sind,
  ob Sie die 64-Bit-Version benötigen, laden Sie die stattdessen die
  32-Bit-Version herunter.
  {% else %}
  <strong>Note:</strong> This version runs on Windows systems with 64-bit only. Not all plugins
  are compatible with this version. If you are unsure whether
  you need the 64-bit version, download the 32-bit version instead.
  {% endif %}
  </p>

  <div class="downloadsection">
  <a href="{{ site.url }}/{{ page.lang }}/download/spamihilator/1.6/x64" class="radius button left" id="download-button"><img src="{{ site.url }}/images/download-arrow.png"> {% if page.lang == 'de' %}Herunterladen{% else %}Download now{% endif %}</a>
  <ul id="download-notes">
     <li>{% if page.lang == "de" %}5. Dezember 2014{% else %}December 5, 2014{% endif %} |
      {% if page.lang == "de" %}3,51 MB{% else %}3.51 MB{% endif %}</li>
     <li>Windows 2000/2003/XP/Vista/7/8 ({% if page.lang == "de" %}64-Bit{% else %}64-bit{% endif %})</li>
  </ul>
  </div>

  </li>
  <li id="portable32bitTab">

  <h3>Spamihilator 1.6</h3>
  <h5 class="subheader">{% if page.lang == "de" %}Portable Version (ohne Installer){% else %}Portable version (without installer){% endif %}</h5>

  <p>
  {% if page.lang == "de" %}
  <strong>Hinweis:</strong> Die portable Version ist nur für Experten gedacht, die Spamihilator ohne Installationsprogramm
  ausführen möchten. Eine portable Version kann man z.B. auf einem USB-Stick mitnehmen.
  Beachten Sie, dass Ihr E-Mail-Programm
  <a href="http://www.spamihilator.com/de/docs/configclient/">richtig konfiguriert</a>
  sein muss, wenn Sie Spamihilator auf einem anderen System ausführen.
  {% else %}
  <strong>Note:</strong> The portable version is for experts who want to run Spamihilator without an installer.
  A portable version can be installed on an USB drive, for example. Please make sure
  your mail client is
  <a href="http://www.spamihilator.com/de/docs/configclient/">configured properly</a>
  if you run Spamihilator on another system.
  {% endif %}
  </p>

  <div class="downloadsection">
  <a href="{{ site.url }}/{{ page.lang }}/download/spamihilator/1.6/portable/win32" class="radius button left" id="download-button"><img src="{{ site.url }}/images/download-arrow.png"> {% if page.lang == 'de' %}Herunterladen{% else %}Download now{% endif %}</a>
  <ul id="download-notes">
     <li>{% if page.lang == "de" %}5. Dezember 2014{% else %}December 5, 2014{% endif %} |
      {% if page.lang == "de" %}2,54 MB{% else %}2.54 MB{% endif %}</li>
     <li>Windows 2000/2003/XP/Vista/7/8</li>
  </ul>
  </div>

  </li>
  <li id="portable64bitTab">

  <h3>Spamihilator 1.6 ({% if page.lang == "de" %}64-Bit{% else %}64-bit{% endif %})</h3>
  <h5 class="subheader">{% if page.lang == "de" %}Portable Version (ohne Installer){% else %}Portable version (without installer){% endif %}</h5>

  <p>
  {% if page.lang == "de" %}
  <strong>Hinweise:</strong> Die portable Version ist nur für Experten gedacht, die Spamihilator ohne Installationsprogramm
  ausführen möchten. Eine portable Version kann man z.B. auf einem USB-Stick mitnehmen.
  Beachten Sie, dass Ihr E-Mail-Programm
  <a href="http://www.spamihilator.com/de/docs/configclient/">richtig konfiguriert</a>
  sein muss, wenn Sie Spamihilator auf einem anderen System ausführen.
  {% else %}
  <strong>Notes:</strong> The portable version is for experts who want to run Spamihilator without an installer.
  A portable version can be installed on an USB drive, for example. Please make sure
  your mail client is
  <a href="http://www.spamihilator.com/de/docs/configclient/">configured properly</a>
  if you run Spamihilator on another system.
  {% endif %}
  </p>

  <p>
  {% if page.lang == "de" %}
  Diese Version ist nur für Windows-Systeme mit 64-Bit geeignet. Nicht alle
  Plugins sind mit dieser Version kompatibel. Wenn Sie unsicher sind,
  ob Sie die 64-Bit-Version benötigen, laden Sie die stattdessen die
  32-Bit-Version herunter.
  {% else %}
  This version runs on Windows systems with 64-bit only. Not all plugins
  are compatible with this version. If you are unsure whether
  you need the 64-bit version, download the 32-bit version instead.
  {% endif %}
  </p>

  <div class="downloadsection">
  <a href="{{ site.url }}/{{ page.lang }}/download/spamihilator/1.6/portable/x64" class="radius button left" id="download-button"><img src="{{ site.url }}/images/download-arrow.png"> {% if page.lang == 'de' %}Herunterladen{% else %}Download now{% endif %}</a>
  <ul id="download-notes">
     <li>{% if page.lang == "de" %}5. Dezember 2014{% else %}December 5, 2014{% endif %} |
      {% if page.lang == "de" %}3,35 MB{% else %}3.35 MB{% endif %}</li>
     <li>Windows 2000/2003/XP/Vista/7/8 ({% if page.lang == "de" %}64-Bit{% else %}64-bit{% endif %})</li>
  </ul>
  </div>

  </li>
  </ul>

{{ content }}

</div>
<div class="four columns">
<div class="google-ads1">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Spamihilator 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-1502100978693819"
     data-ad-slot="5286013968"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

</div>
</div>

</section>

{% include footer.html %}
