{% include header.html %}

<section id="mainContent">

<div class="row">
  <div class="twelve columns">
    <h3 class="page-title">Download</h3>
  </div>
</div>

<div class="row">
<div class="eight columns">
  
  <dl class="tabs contained">
    <dd class="active"><a href="#32bit">{%if page.lang == "de" %}32-Bit{% else %}32-bit{% endif %}</a></dd>
    <dd><a href="#64bit">{%if page.lang == "de" %}64-Bit{% else %}64-bit{% endif %}</a></dd>
    <dd><a href="#portable32bit">{%if page.lang == "de" %}Portabel 32-Bit{% else %}Portable 32-bit{% endif %}</a></dd>
    <dd><a href="#portable64bit">{%if page.lang == "de" %}Portabel 64-Bit{% else %}Portable 64-bit{% endif %}</a></dd>
  </dl>

  <ul class="tabs-content contained">
  <li class="active" id="32bitTab">
  
  <h3>Spamihilator 1.5</h3>
  
  <p>
  {% if page.lang == "de" %}
  Bitte klicken Sie auf den folgenden Button, um Spamihilator kostenlos herunterzuladen:
  {% else %}
  Please use the following button to download Spamihilator for free:
  {% endif %}
  </p>
  
  <div class="downloadsection">
  <a href="{{ site.url }}/{{ page.lang }}/download/spamihilator/1.5/win32" class="radius button left" id="download-button"><img src="{{ site.url }}/images/download-arrow.png"> {% if page.lang == 'de' %}Herunterladen{% else %}Download now{% endif %}</a>
  <ul id="download-notes">
     <li>{% if page.lang == "de" %}23. Dezember 2012{% else %}December 23, 2012{% endif %} |
      {% if page.lang == "de" %}2,29 MB{% else %}2.29 MB{% endif %}</li>
     <li>Windows 2000/2003/XP/Vista/7/8</li>
  </ul>
  </div>
  
  {% include download-social-links.html %}
  
  </li>
  <li id="64bitTab">
  
  <h3>Spamihilator 1.5 ({% if page.lang == "de" %}64-Bit{% else %}64-bit{% endif %})</h3>

  <p>
  {% if page.lang == "de" %}
  <strong>Hinweis:</strong> Diese Version ist nur für Windows-Systeme mit 64-Bit geeignet. Nicht alle
  Plugins sind mit dieser Version kompatibel. Wenn Sie unsicher sind,
  ob Sie die 64-Bit-Version benötigen, laden Sie die stattdessen die
  32-Bit-Version herunter.
  {% else %}
  <strong>Note:</strong> This version runs on Windows systems with 64-bit only. Not all plugins
  are compatible with this version. If you are unsure whether
  you need the 64-bit version, download the 32-bit version instead.
  {% endif %}
  </p>
  
  <div class="downloadsection">
  <a href="{{ site.url }}/{{ page.lang }}/download/spamihilator/1.5/x64" class="radius button left" id="download-button"><img src="{{ site.url }}/images/download-arrow.png"> {% if page.lang == 'de' %}Herunterladen{% else %}Download now{% endif %}</a>
  <ul id="download-notes">
     <li>{% if page.lang == "de" %}23. Dezember 2012{% else %}December 23, 2012{% endif %} |
      {% if page.lang == "de" %}3,15 MB{% else %}3.15 MB{% endif %}</li>
     <li>Windows 2000/2003/XP/Vista/7/8 ({% if page.lang == "de" %}64-Bit{% else %}64-bit{% endif %})</li>
  </ul>
  </div>
  
  {% include download-social-links.html %}
  
  </li>
  <li id="portable32bitTab">
  
  <h3>Spamihilator 1.5</h3>
  <h5 class="subheader">{% if page.lang == "de" %}Portable Version (ohne Installer){% else %}Portable version (without installer){% endif %}</h5>

  <p>
  {% if page.lang == "de" %}
  <strong>Hinweis:</strong> Die portable Version ist nur für Experten gedacht, die Spamihilator ohne Installationsprogramm
  ausführen möchten. Eine portable Version kann man z.B. auf einem USB-Stick mitnehmen.
  Beachten Sie, dass Ihr E-Mail-Programm
  <a href="http://wiki.spamihilator.com/doku.php?id=de:configclient">richtig konfiguriert</a>
  sein muss, wenn Sie Spamihilator auf einem anderen System ausführen.
  {% else %}
  <strong>Note:</strong> The portable version is for experts who want to run Spamihilator without an installer.
  A portable version can be installed on an USB drive, for example. Please make sure
  your mail client is
  <a href="http://wiki.spamihilator.com/doku.php?id=de:configclient">configured properly</a>
  if you run Spamihilator on another system.
  {% endif %}
  </p>
  
  <div class="downloadsection">
  <a href="{{ site.url }}/{{ page.lang }}/download/spamihilator/1.5/portable/win32" class="radius button left" id="download-button"><img src="{{ site.url }}/images/download-arrow.png"> {% if page.lang == 'de' %}Herunterladen{% else %}Download now{% endif %}</a>
  <ul id="download-notes">
     <li>{% if page.lang == "de" %}23. Dezember 2012{% else %}December 23, 2012{% endif %} |
      {% if page.lang == "de" %}3,03 MB{% else %}3.03 MB{% endif %}</li>
     <li>Windows 2000/2003/XP/Vista/7/8</li>
  </ul>
  </div>
  
  {% include download-social-links.html %}
  
  </li>
  <li id="portable64bitTab">
  
  <h3>Spamihilator 1.5 ({% if page.lang == "de" %}64-Bit{% else %}64-bit{% endif %})</h3>
  <h5 class="subheader">{% if page.lang == "de" %}Portable Version (ohne Installer){% else %}Portable version (without installer){% endif %}</h5>

  <p>
  {% if page.lang == "de" %}
  <strong>Hinweise:</strong> Die portable Version ist nur für Experten gedacht, die Spamihilator ohne Installationsprogramm
  ausführen möchten. Eine portable Version kann man z.B. auf einem USB-Stick mitnehmen.
  Beachten Sie, dass Ihr E-Mail-Programm
  <a href="http://wiki.spamihilator.com/doku.php?id=de:configclient">richtig konfiguriert</a>
  sein muss, wenn Sie Spamihilator auf einem anderen System ausführen.
  {% else %}
  <strong>Notes:</strong> The portable version is for experts who want to run Spamihilator without an installer.
  A portable version can be installed on an USB drive, for example. Please make sure
  your mail client is
  <a href="http://wiki.spamihilator.com/doku.php?id=de:configclient">configured properly</a>
  if you run Spamihilator on another system.
  {% endif %}
  </p>
  
  <p>
  {% if page.lang == "de" %}
  Diese Version ist nur für Windows-Systeme mit 64-Bit geeignet. Nicht alle
  Plugins sind mit dieser Version kompatibel. Wenn Sie unsicher sind,
  ob Sie die 64-Bit-Version benötigen, laden Sie die stattdessen die
  32-Bit-Version herunter.
  {% else %}
  This version runs on Windows systems with 64-bit only. Not all plugins
  are compatible with this version. If you are unsure whether
  you need the 64-bit version, download the 32-bit version instead.
  {% endif %}
  </p>
  
  <div class="downloadsection">
  <a href="{{ site.url }}/{{ page.lang }}/download/spamihilator/1.5/portable/x64" class="radius button left" id="download-button"><img src="{{ site.url }}/images/download-arrow.png"> {% if page.lang == 'de' %}Herunterladen{% else %}Download now{% endif %}</a>
  <ul id="download-notes">
     <li>{% if page.lang == "de" %}23. Dezember 2012{% else %}December 23, 2012{% endif %} |
      {% if page.lang == "de" %}3,75 MB{% else %}3.75 MB{% endif %}</li>
     <li>Windows 2000/2003/XP/Vista/7/8 ({% if page.lang == "de" %}64-Bit{% else %}64-bit{% endif %})</li>
  </ul>
  </div>
  
  {% include download-social-links.html %}
  
  </li>
  </ul>

{{ content }}

</div>
<div class="four columns">
<div class="google-ads1">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-1502100978693819";
/* Spamihilator 2 */
google_ad_slot = "5286013968";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

</div>
</div>

</section>

{% include footer.html %}
