<?php
{% include getlanguage.php %}

$lang = GetLanguage();
if ($lang == "de" || $lang == "at" || $lang == "ch")
  $lang = "de";
else
  $lang = "en";

$ru = $_SERVER['REQUEST_URI'];
$ruorg = $ru;
while ($ru[0] == '/')
  $ru = substr($ru, 1);
$sl = strpos($ru, "/");
$q = strpos($ru, "?");
if ($sl === FALSE || ($q !== FALSE && $q < $sl))
  $sl = $q;
if ($sl !== FALSE)
  $ru = substr($ru, 0, $sl);

$permanent = array(
  "^/en/download/1/?$" => "{{ site.url }}/en/download/spamihilator/1.5/win32",
  "^/de/download/1/?$" => "{{ site.url }}/de/download/spamihilator/1.5/win32",
  "^/lang(-pref)?/" => "{{ site.url }}/",
  "^/(blog|download|faq|support)" => "{{ site.url }}/$lang/$1",
  "^/download(64bit|msi)" => "{{ site.url }}/$lang/download",
  "^/en/download/index.php" => "{{ site.url }}/en/download",
  "^/de/download/index.php" => "{{ site.url }}/de/download",
  
  "^/en/blog/55" => "{{ site.url }}/en/blog/spamihilator-0.9.9-has-been-released",
  "^/en/blog/57" => "{{ site.url }}/en/blog/spamihilator-0.9.9.10-has-been-released",
  "^/en/blog/59" => "{{ site.url }}/en/blog/spamihilator-0.9.9.27-has-been-released",
  "^/en/blog/60" => "{{ site.url }}/en/blog/spamihilator-0.9.9.32-has-been-released",
  "^/en/blog/78" => "{{ site.url }}/en/blog/spamihilator-0.9.9.37-has-been-released",
  "^/en/blog/79" => "{{ site.url }}/en/blog/spamihilator-0.9.9.38-has-been-released",
  "^/en/blog/81" => "{{ site.url }}/en/blog/spamihilator-wiki-is-online",
  "^/en/blog/91" => "{{ site.url }}/en/blog/spamihilator-0.9.9.39-has-been-released",
  "^/en/blog/92" => "{{ site.url }}/en/blog/spamihilator-0.9.9.41-has-been-released",
  "^/en/blog/101" => "{{ site.url }}/en/blog/spamihilator-0.9.9.42-has-been-released",
  "^/en/blog/107" => "{{ site.url }}/en/blog/spamihilator-0.9.9.43-has-been-released",
  "^/en/blog/134" => "{{ site.url }}/en/blog/spamihilator-0.9.9.44-has-been-released",
  "^/en/blog/286" => "{{ site.url }}/en/blog/spamihilator-0.9.9.52-has-been-released",
  "^/en/blog/301" => "{{ site.url }}/en/blog/spamihilator-0.9.9.53-has-been-released",
  "^/en/blog/359" => "{{ site.url }}/en/blog/spamihilator-beta-version-0.9.9.59-publicly-available",
  "^/en/blog/379" => "{{ site.url }}/en/blog/new-spamihilator-beta-version-0.9.9.60",
  "^/en/blog/389" => "{{ site.url }}/en/blog/spamihilator-1.0-has-been-released",
  
  "^/de/blog/55" => "{{ site.url }}/de/blog/spamihilator-0.9.9-wurde-veroeffentlicht",
  "^/de/blog/57" => "{{ site.url }}/de/blog/spamihilator-0.9.9.10-wurde-veroeffentlicht",
  "^/de/blog/59" => "{{ site.url }}/de/blog/spamihilator-0.9.9.27-wurde-veroeffentlicht",
  "^/de/blog/60" => "{{ site.url }}/de/blog/spamihilator-0.9.9.32-wurde-veroeffentlicht",
  "^/de/blog/78" => "{{ site.url }}/de/blog/spamihilator-0.9.9.37-wurde-veroeffentlicht",
  "^/de/blog/79" => "{{ site.url }}/de/blog/spamihilator-0.9.9.38-wurde-veroeffentlicht",
  "^/de/blog/81" => "{{ site.url }}/de/blog/spamihilator-wiki-ist-online",
  "^/de/blog/91" => "{{ site.url }}/de/blog/spamihilator-0.9.9.39-wurde-veroeffentlicht",
  "^/de/blog/92" => "{{ site.url }}/de/blog/spamihilator-0.9.9.41-wurde-veroeffentlicht",
  "^/de/blog/101" => "{{ site.url }}/de/blog/spamihilator-0.9.9.42-wurde-veroeffentlicht",
  "^/de/blog/107" => "{{ site.url }}/de/blog/spamihilator-0.9.9.43-wurde-veroeffentlicht",
  "^/de/blog/134" => "{{ site.url }}/de/blog/spamihilator-0.9.9.44-wurde-veroeffentlicht",
  "^/de/blog/286" => "{{ site.url }}/de/blog/spamihilator-0.9.9.52-wurde-veroeffentlicht",
  "^/de/blog/301" => "{{ site.url }}/de/blog/spamihilator-0.9.9.53-wurde-veroeffentlicht",
  "^/de/blog/359" => "{{ site.url }}/de/blog/spamihilator-beta-version-0.9.9.59-oeffentlich-verfuegbar",
  "^/de/blog/379" => "{{ site.url }}/de/blog/neue-spamihilator-beta-version-0.9.9.60",
  "^/de/blog/389" => "{{ site.url }}/de/blog/spamihilator-1.0-wurde-veroeffentlicht",
);

$nonpermanent = array(
  "^/forum" => "http://www-old.spamihilator.com/forum",
  "^/help(.*)$" => "http://wiki.spamihilator.com/",
  "^/plugins" => "http://www-old.spamihilator.com/plugins",
);

function do_redirect($arr, $isperm) {
  global $ruorg;
  foreach ($arr as $u => $r) {
    $p = "%".$u."%";
    if (preg_match($p, $ruorg)) {
      $nl = preg_replace($p, $r, $ruorg);
      if ($isperm)
        header("HTTP/1.0 301 Moved Permanently");
      header("Location: ".$nl);
      exit();
    }
  }
}

do_redirect($permanent, true);
do_redirect($nonpermanent, false);

if ($ru == "about") {
  header("HTTP/1.0 301 Moved Permanently");
  if ($lang == "de") {
    header("Location: {{ site.url }}/de/impressum");
  } else {
    header("Location: {{ site.url }}/en/about");
  }
  exit();
}

header("HTTP/1.0 404 Not Found");
?>
{% include header.html %}
<section id="mainContent">
{{ content }}
</section>
{% include footer.html %}
