{% include header.html %}
<section id="mainContent" class="mainWithAdLower">
<div class="row">

<div class="eight columns">
{{ content }}
</div>

<div class="four columns">
<div class="google-ads1">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-1502100978693819";
/* Spamihilator 2 */
google_ad_slot = "5286013968";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
</div>

</div>
</section>
{% include footer.html %}