{% include header.html %}
<section id="mainContent" class="mainWithAdLower">
<div class="row">

<div class="eight columns">
{{ content }}
</div>

<div class="four columns">
<div class="google-ads1">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Spamihilator 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-1502100978693819"
     data-ad-slot="5286013968"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>

</div>
</section>
{% include footer.html %}