{% include header.html %}

<section id="mainContent">

<div class="row">
<div class="eight columns">

<div class="row">
  <div class="twelve columns">
  
  <h3 class="page-title">{% if page.lang == "de" %}Vielen Dank!{% else %}Thanks a lot!{% endif %}</h3>
  
  <p>
  {% if page.lang == "de" %}
  Danke, dass Sie sich für den Spamihilator-Newsletter angemeldet haben! Ihre
  E-Mail-Adresse wurde erfolgreich verifiziert.
  {% else %}
  Thank you for signing up to the Spamihilator Newsletter! Your email address
  has been verified successfully.
  {% endif %}
  </p>
  
  </div>
</div>

</div>
<div class="four columns">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-1502100978693819";
/* Spamihilator 2 */
google_ad_slot = "5286013968";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
</div>

</section>

{% include footer.html %}
