{% include header.html %}

<section id="mainContent">

<div class="row">
<div class="eight columns">

<div class="row">
  <div class="twelve columns">
  
  <h3 class="page-title">{% if page.lang == "de" %}Vielen Dank!{% else %}Thanks a lot!{% endif %}</h3>
  
  <p>
  {% if page.lang == "de" %}
  Danke, dass Sie sich für den Spamihilator-Newsletter angemeldet haben! Ihre
  E-Mail-Adresse wurde erfolgreich verifiziert.
  {% else %}
  Thank you for signing up to the Spamihilator Newsletter! Your email address
  has been verified successfully.
  {% endif %}
  </p>
  
  </div>
</div>

</div>
<div class="four columns">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Spamihilator 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-1502100978693819"
     data-ad-slot="5286013968"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>

</section>

{% include footer.html %}
